$clr-default: rgb(82, 82, 82);
$clr-primary: rgba(0, 131, 116);
$clr-primary-2: rgb(0, 141, 125);
$clr-primary-3: rgb(49, 155, 143);
$clr-primary-4: rgb(134, 193, 187);
$clr-primary-5: rgb(211, 238, 235);
$clr-secondary: rgb(248, 90, 64);
$clr-white: rgb(255, 255, 255);
$clr-white-2: rgb(255, 255, 255, 0.6);
$clr-grey: rgb(128, 128, 128);
$clr-medium-grey: #dedbdbdb;
$clr-light-grey: #f6f6f6;
$clr-black: rgb(0, 0, 0);
$ff-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Poppins", sans-serif;
