.hero {
  background: $clr-primary;
  margin-bottom: 200px;

  &-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 200px 0;
    position: relative;
  }

  &-info {
    flex: 0 0 50%;
    color: $clr-white;
    padding: 0 10px 0 10px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    p {
      max-width: 95%;
      font-size: 16px;
      color: $clr-white-2;
      margin-bottom: 20px;
    }

    &_btns {
      display: flex;
      align-items: center;

      a {
        text-transform: capitalize;
      }

      .video {
        background: transparent;
        border: transparent;

        .fa-circle-play {
          padding: 0px 0px;
          font-size: 24px;
          margin-right: 5px;
          color: $clr-white-2;
        }
      }
    }
  }

  &-img {
    flex: 0 0 50%;
    padding: 0 10px 0 10px;
    height: 60%;
  }

  &-details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    transform: translate(0, 50%);
    margin: 0 -20px 0 0;

    .detail-item {
      width: 25%;
      height: 220px;
      margin: 0 20px 0 0;
      background: $clr-primary-3;
      border-radius: 10px;
      padding: 0px;
      text-align: center;

      i {
        padding: 20% 0 0 0;
        color: $clr-white-2;
        font-size: 48px;
        margin-bottom: 20px;
      }

      p {
        color: $clr-white;
        font-size: 22px;
        font-weight: 700;
        font-family: $ff-primary;
      }
    }
  }
}
